<div class="container">
<h1>Stupid Coaching</h1>


<div class="question">
<h2> <b><%= @question %></b> </h2>
<h2>- You</h2>
</div>

<div class="answer">
<h2> <b><%= @answer %></b></h2>
<h2>- Your coach</h2>
</div>

<%= link_to "ask a new question", ask_path %>
</div>
