// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 25px;
  color: red;
  font-family: sans-serif;
  text-decoration: underline
}

h2 {
  font-weight: lighter;
  font-size: 15px;
}
 .answer {
  background-color: #FFFFE0;
  border-left-style: groove;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
 }

.question {
  border-left-style: groove;
  padding-left: 10px;
}

.container {
  padding: 28px;
}

input[type=text] {
    width: 70%;
}
